[database]
# The path to nucleotide databases folder
nucleotide_db = baqlava/data/BAQLaVa.V0.2.nucleotide/
# The path to translated databases folder
translated_db = baqlava/data/BAQLaVa.V0.2.protein/


[computation]
# The number of cores that you are requesting. [ Default: 1 ]
threads = 1

[utility]
# Nucleotide ID mapping file
idmap = baqlava/utility_files/idmap2.txt
# Taxonomy conversion file
marker_taxonomy = baqlava/utility_files/marker_taxonomy.txt
# Conversion file (translated marker names to nucleotide)
translated_marker_conversion = baqlava/utility_files/translated_markers_conversion.txt
# Conversion file (VGB names to nicely formatted species names)
species_conversion = baqlava/utility_files/species_conversion.txt


[hosted_databases]
# Full Nucleotide Database
nucleotide_db_full = https://huttenhower.sph.harvard.edu/baqlava-db/BAQLaVa.V0.1.nucleotide.tar.gz
# Full Translated Database
uniref_db_full = https://huttenhower.sph.harvard.edu/baqlava-db/BAQLaVa.V0.1.protein.tar.gz
