include history.md
include LICENSE
include readme.md
include setup.py
recursive-include baqlava/configs *
recursive-include baqlava/utility_files *
recursive-include baqlava/utility_scripts *
recursive-include baqlava/data/ *
recursive-include baqlava/data/ *